In [2]:
import numpy as np
import pandas as pd
import requests
import math

In [3]:
# requesting the data
r = requests.get('https://cdn.jsdelivr.net/gh/apilayer/restcountries@3dc0fb110cd97bce9ddf27b3e8e1f7fbe115dc3c/src/main/resources/countriesV2.json')
contries = r.json()

###### population limit is 11750

In [4]:
# population greater or equal to the population limit given below and have atleast one currency exclusively for themselves.
first_20 = {}
for contry in contries:
    if contry['population'] >= 11750:
        first_20[contry['currencies'][0]['code']] = []
        first_20[contry['currencies'][0]['code']].append(contry['latlng'])
        first_20[contry['currencies'][0]['code']].append(contry['population'])

In [5]:
# sorting the dictionay w.r.t population
first_20=dict(sorted(first_20.items(),key=lambda x:x[1][1])[:20])

In [6]:
pd.DataFrame(first_20)

,XPF,(none),GIP,ANG,DKK,KYD,BMD,SCR,None,TOP,AWG,XCD,AUD,STD,WST,VUV,BBD,ISK,MVR,BZD
0,"[-13.3, -176.2]","[7.5, 134.5]","[36.13333333, -5.35]","[18.033333, -63.05]","[72, -40]","[19.5, -80.5]","[32.33333333, -64.75]","[-4.58333333, 55.66666666]","[6.91666666, 158.25]","[-20, -175]","[12.5, -69.96666666]","[13.25, -61.2]","[1.41666666, 173]","[1, 7]","[-13.58333333, -172.33333333]","[-16, 167]","[13.16666666, -59.53333333]","[65, -18]","[3.25, 73]","[17.25, -88.75]"
1,11750,17950,33140,38247,55847,58238,61954,91400,102800,103252,107394,109991,113400,187356,194899,277500,285000,334300,344023,370300

In [7]:
# distance between two points
def find_dist(latlng_1, latlng_2):
    lat1, lon1 = np.radians(latlng_1[0][0]), np.radians(latlng_1[0][1])
    lat2, lon2 =  np.radians(latlng_2[0][0]), np.radians(latlng_2[0][1])
    d = 2 * 6371 * np.arcsin(np.sqrt(np.sin((lat2-lat1)/2)**2 + np.cos(lat1) * np.cos(lat2)* np.sin((lon2-lon1)/2)**2))
    
    return round(d,2)

In [8]:
# total distance calculating
total_dist = 0
keys = list(first_20.keys())

for i in range(len(keys)):
    for j in range(i+1,len(keys)):
        total_dist += find_dist(first_20[keys[i]], first_20[keys[j]])
total_dist = np.round(total_dist, 2)


print(total_dist)

1831281.59